.post-carousel {
   swiper-container {
      width: 100%;
      height: 100%;
   }

   swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
   }

   swiper-slide.swiper-slide-active {
      width: 10% !important;

      img {
         opacity: 0.6;
      }
   }
   swiper-slide.swiper-slide-prev {
      width: 30% !important;
   }
   swiper-slide.swiper-slide-next {
      width: 60% !important;
   }

   swiper-slide img {
      display: block;
      width: 100%;
      height: 780px;
      object-fit: cover;
   }
}
