// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
// Font Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
// Font Open Sans
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

html,
body {
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
}

/*General*/
$primary-color: #f78181;

@mixin post-title {
   font-size: 24px;
   font-weight: 400;
   color: #404040;
}

@mixin post-meta {
   color: #888888;
   font-size: 12px;

   .post-category {
      margin-right: 5px;
      color: #313131;
   }

   .post-date {
      margin-left: 5px;
      color: #888888;
   }
}

@mixin post-description {
   font-family: "Open Sans", sans-serif;
   color: #9a9a9a;
   font-weight: 300;
   font-size: 14px;
}

@mixin block-title {
   font-size: 36px;
   color: #404040;
   position: relative;

   &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 80px;
      height: 2px;
      background: $primary-color;
      z-index: 1;
   }
}

/** Header **/
@import "header";
/** Featured Post **/
@import "featured-post";
/** Latest Post **/
@import "latest-post";
/** Post Carousel **/
@import "post-carousel";
/** Latest Review **/
@import "latest-review";
/** Latest Articles **/
@import "latest-article";
/** Post Slider **/
@import "post-slider";
/** Siderbar **/
@import "sidebar";
/** Slider Bottom **/
@import "slider-bottom";
/** Subscribe Block **/
@import "subscribe-block";
/** Latest Video **/
@import "latest-video";
/** Instagarm Gallery **/
@import "instagram-gallery";
/** Footer **/
@import "footer";
